name: turborepo diff dry run with full clone

on:
  pull_request:
    branches:
      - main

jobs:
  full-clone-diff:
    name: full-clone
    runs-on: ubuntu-latest
    steps:
      - name: full Clone
        shell: bash
        run: |
          echo ${{ github.head_ref }}
          git clone --progress https://${GITHUB_REPOSITORY_OWNER}:${GITHUB_TOKEN}@github.com/${GITHUB_REPOSITORY}.git .
          echo "비교 기준점이 되는 head $(git rev-parse HEAD)"
          echo "비교 기준점이 되는 head의 -1 $(git rev-parse HEAD~1)"

          git checkout ${{ github.head_ref }}
          echo "브랜치의 최신 변경 head $(git rev-parse HEAD)"
